<div class="row">
    <div class="col-12">
    <ul class="list-group" >
        <li> 
            <h6 [class.here-now]="pageNow[0] ===0 "
                class="rounded-item">1</h6> 
            <div style="display: grid;"> 
                <p class="m-2" style="font-size: 12px;"> STEP 1</p>  
                <p class="m-2"> YOUR INFO</p>
            </div> 
        </li>
        <li> 
            <h6 [class.here-now]="pageNow[0] ===1 "
                class="rounded-item">2</h6> 
            <div style="display: grid;"> 
                <p class="m-2" style="font-size: 12px;"> STEP 2</p>  
                <p class="m-2"> SELECT PLAN</p>
            </div> 
        </li>
        <li> 
            <h6 [class.here-now]="pageNow[0] ===2 "
                class="rounded-item">3</h6> 
            <div style="display: grid;"> 
                <p class="m-2" style="font-size: 12px;"> STEP 3</p>  
                <p class="m-2"> ADD-ONS</p>
            </div> 
        </li>
        <li> 
            <h6 [class.here-now]="pageNow[0] ===3 "
                class="rounded-item">4</h6> 
            <div style="display: grid;"> 
                <p class="m-2" style="font-size: 12px;"> STEP 4</p>  
                <p class="m-2"> SUMMARY</p>
            </div> 
        </li>
    </ul> 
    </div>
</div>
